*, *::before, *::after {
    -moz-box-sizing: boder-box;
    -webkit-box-sizing: boder-box;
    box-sizing: border-box;
}


html {
    height: 100%;
    font-size: 100%;
}

body {

    font-family: 'Open Sans';
    min-height: 100%;
    height: 100%;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.left, .right {
  height: 100%;
}
section.left {
  text-align: center;
  float: left;
  background-color: #DEDEDE;
  width: 30%;
}

section.right {
  float: right;
  background-color: #FFFFFF;
  width: 70%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style: none;
  padding: 0;
}
