<section class="left">
    <h1>Bloc Chat</h1>
    <button type="button" class="btn btn-default" ng-click="home.open()">New room</button>
    <ul>
       <li ng-repeat="x in home.roomObject.all">
         <a ng-click="home.roomObject.setRoom(x)"><h3>{{x.name}}</h3></a>
       </li>
      </ul>
</section>
<section class="right">
  <div class="container">
    <h1>{{ home.roomObject.currentRoom.name}}</h1>
    <h2>{{home.roomObject.getMessages("-KRtP4xjyllHa-vm7vja")}}</h2><br>
     <p></p>
  </div>
</section>
