<section class="left">
    <h1>Bloc Chat</h1>
    <button type="button" class="btn btn-default" ng-click="home.open()">New room</button>
    <ul>
       <li ng-repeat="x in home.all">
         <a ng-click="home.setRoom(x)"><h3>{{x.name}}</h3></a>
       </li>
      </ul>
</section>
<section class="right container">
  <h1>{{ home.currentRoom.name}}</h1>
  <div ng-repeat="message in home.messages" class="chat">
    <p class="bold-capitalize">{{message.username}}</p>
    <p>{{message.content}}</p>
    <small>{{message.sent_at | date:"MMM',' dd',' h:mma"}}</small>
  </div>
</section>
